#
#  Copyright (c) 2019 Nordic Semiconductor ASA
#
#  SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config MAX17261LL
	bool "MAX17261 Fuel Gauge (low-level)"
	depends on I2C
	help
	  Enable I2C-based driver for MAX17261 Fuel Gauge. This driver exposes
	  the MAX17261's registers directly for read/write/verified write
	  operations, for external control or other special use.
