#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic

config SLM_STATS
	bool "SLM statistics"

config SLM_STATS_BATTERY_INTERVAL
	int "Interval to check battery level in ms"
	default 60000
